@page
@model MB.Presentation.MVCCore.Areas.Administrator.Pages.ArticleCategoryManagement.EditModel
@{
}
<form method="post">
    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="@Model.Command.Title">نام</label>
            <input class="form-control" type="text" asp-for="@Model.Command.Title" />
        </div>
        <input type="hidden" asp-for="@Model.Command.Id" value="@Model.Command.Id"/>
        <div class="col-md-12 form-group">

            <button type="submit" class="btn btn-success">ایجاد</button>
        </div>
    </div>

</form>